
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;    
}

a {
    text-decoration: none;
}

/* div {
    margin: 0px;
} */

ul {
    list-style: none;
    width: 100%;
}

li {
    display: inline-block;
}

/* h1 {
    color: #4DD101;
    margin: 100px auto;
    text-align: center;
    letter-spacing: 0.335em;
} */

hr {
    border: none;
    width: 80%;
    margin: 50px auto;
    
}

.top-container {
    width: 100%;
    position: relative;
    height: 116px;
    background-color: #066622;
    box-shadow: 0px 10px 20px #066622;
    border-radius: 0 0 10px 10px;
    font-size: 24px;
    line-height: 28px;  
    letter-spacing: 0.335rem;
}

.moblie-nav-bar {
    display: none;
}

.mobile-nav-notification {
    display: none;
}

#mobile-nav-icon {
    float: left;
    color: #4DD101;
    display: none;
    font-weight: bold;
}

.top-container a {
    color: #a7ee7e;
    position: relative;
}   

.top-container a:hover {
    color: white;
}

.nav-bar-left {
    float: left;
}

.nav-bar-right {
    float: right;
}

.nav-bar-left li {
    margin-left: 150px;
    margin-top: 50px;
}

.nav-bar-right li {
    margin-right: 150px;
    margin-top: 50px;
}

.thekolaya {
    width: 260px; 
    height: 108px;
    position: absolute;
    left: 45%;
    top: 0px;
}
/* ********************chart-section **************** */
.chart-section{
    
}
.graph1{
    width: 400px;
    margin-top: 50px;
    margin-right: 70px;
    float: right;
}

/* **************** Loading bar section ********************** */
.loadingbar{
    position: static;
    min-width: 5px;
    height: 10px;
    background: #6fe760;
    animation-name: colorChange;
    animation-duration: 2s;
    transition: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    border-radius: 0px 5px 5px 0px;
    margin: 40px;
}
@keyframes colorChange{
    from{width: 5%; background-color: #37dd4d;}
    to{width: 75%; background-color: rgb(163, 238, 42);}
}
/* ****************Middle section ****************** */
.button-header{
    color: white;
    margin: 50px 0 0 0;
    font-size: 20px;
}
.middle-container {
    position: relative; 
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   
}
.landowners{
    position: relative; 
    width: 19.7%;
    height: 203px;
    padding-top: 70px;
    display: flex;
    float: left;
    color: white;
    flex-direction: row;
    background-color: #3a3d3b;
    border-radius: 10px 10px 0 0;
    margin: 0 0 0 2px ;
    
    /* box-shadow: -10px -10px 5px rgb(143, 163, 148);    */
    justify-content: center;
    text-align: center;
}
.landowners:hover{
    background-color:#31bb48;
    transition-delay: 0.0s;
    color:white;
   
    box-shadow: 0px  -34px  0px  #31bb48;
}


.requests{
    width: 19.8%;
    height: 203px;
    padding-top: 70px;
    display: flex;
    float: left;
    color: white;
    flex-direction: row;
    background-color: #3a3d3b;
    border-radius: 10px 10px 0 0;
    margin: 0 0 0 1px ;
    /* box-shadow: -10px -10px 5px rgb(143, 163, 148);    */
    justify-content: center;
    text-align: center;
}
.requests:hover{
    background-color:#31bb48;
    transition-delay: 0.05s;
    color:white;
    box-shadow: 0px  -34px  0px  #31bb48;
}
.payments{
    width: 20%;
    height: 203px;
    padding-top: 70px;
    display: flex;
    float: left;
    color: white;
    flex-direction: row;
    background-color: #3a3d3b;
    border-radius: 10px 10px 0 0;
    margin: 0 0 0 1px ;
    /* box-shadow: -10px -10px 5px rgb(143, 163, 148);    */
    justify-content: center;
    text-align: center;
}
.payments:hover{
    background-color:#31bb48;
    color:white;
    transition-delay: 0.1s;
    box-shadow: 0px  -34px  0px  #31bb48;
}
.tea-price{
    width: 20%;
    height: 203px;
    padding-top: 70px;
    display: flex;
    float: left;
    color: white;
    flex-direction: row;
    background-color: #3a3d3b;
    border-radius: 10px 10px 0 0;
    margin: 0 0 0 1px ;
    /* box-shadow: -10px -10px 5px rgb(143, 163, 148);    */
    justify-content: center;
    text-align: center;
} 
.tea-price:hover{
    background-color:#31bb48;
    color:white;
    box-shadow: 0px  -34px  0px  #31bb48;
    transition-delay: 0.15s;
}
.stock{
    width: 20%;
    height: 203px;
    padding-top: 70px;
    display: flex;
    float: left;
    color: white;
    flex-direction: row;
    background-color: #3a3d3b;
    border-radius: 10px 10px 0 0;
    margin: 0 0 0 1px ;
    /* box-shadow: -10px -10px 5px rgb(143, 163, 148);    */
    justify-content: center;
    text-align: center;
}
.stock:hover{
    background-color:#31bb48;
    color:white;
    box-shadow: 0px  -34px  0px  #31bb48;
    transition-delay: 0.2s;
}
/* ************** bottom sectoin ******************* */
.bottom-container {
    width: 100%;
    height: 160px;

    background-color: #367413;

    font-size: 15px;
    line-height: 15px;  
    letter-spacing: 0.335rem;
}

.bottom-container ul {
    color: white;
}

.bottom-container li {
    margin: 80px 0px 0px 10%;
}

.bottom-container a {
    color: white;
}

.bottom-container a:hover {
    color: black;
}

.bottom-container i {
    margin-left: 75px;
    font-size: 25px;
    line-height: 25px;
}
